
.btn-student {
  color: #fff;
  background-color: #91afb6;
  border-color: #91afb6;
}

.btn-student:hover,
.btn-student:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-teacher {
  color: #fff;
  background-color: #8980a5;
  border-color: #8980a5;
}

.btn-teacher:hover,
.btn-teacher:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}

.cut-text{
  display: block;
  white-space: nowrap;
  width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.card {
    max-width: 100%;
}
.card-text {
    word-wrap: break-word;
}

#horizontal {
    position: fixed;
    width: 45px;
    background: #f2f2f2;
    left: 0;
    top: 150px;
	border-radius: 15px;
	writing-mode: vertical-rl; 
	font-family: 'Lato'
}


#timer {
	margin-right: 5px;
}

.cut-text + .tooltip > .tooltip-inner {
	background-color: #cccccc; color: black;
}

.check {
	margin-left: 35px;
	
}

