{% extends 'base.html' %}

{% block body_block %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'teachers:course_list' %}">My Quiz</a></li>
			<!-- <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li> --> 
		</ol>
	</nav>
	<a href="{% url 'teachers:questions_list' quiz_id %}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back</a>
	<!--<a href="" class="btn btn-primary delete mb-3" role="button">Add Question</a>-->

		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-lg">
					<div class="modal-content">

					</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
			<table class="table table-striped table-sm" id="my_answers">

				<h1>Add answer to question</h1>
				{% for q in question %}
					<h2>{{q.name}}</h2>
					<h3 id="question_points" name = "{{q.points}}">Question points: {{q.points}}</h3>
				{% endfor %}
				<br>
				{% if qtype == 'grammar'%}
					{% for points in grammar_points%}
						<div class="form-group">
						<label>Spelling points</label>
						<input class="form-control" value="{{ points.spelling_points}}" readonly>
						<label>Grammar points</label>
						<input class="form-control" value="{{ points.grammar_points}}" readonly>
						<label>Translate points</label>
						<input class="form-control" value="{{ points.translate_points}}" readonly>
						<label>Order points</label>
						<input class="form-control" value="{{ points.order_points}}" readonly>
						<label>Not in the ethalon points</label>
						<input class="form-control" value="{{ points.ethalon_points}}" readonly>
						</div>   
					{% endfor %}        
			  	{% endif %} 
			  	<br>
				<div class="container-fluid add_form" qtype = "{{ qtype }}" id="answer_form">
					{%if quiz_is_active == False %}
						<form id="answers-form">
							<div class="row">
									{% csrf_token %}
									{% for field in form %}
										<div class="form-group col-4">
											<label class="col-12">{{ field.label }}</label>
											{{ field }}
										</div>
									{% endfor %}  
									<input type="submit" class="btn btn-primary" value="Add Answer" />
							</div>
						<form>
						
					{% endif %}		
					</div>
				 		<h1>Answers list</h1>
						<thead>
								<tr>
										<th>Answer</th>
										{% if qtype != 'grammar'%}
										<th>Points</th>
										{%endif%}
										<th>Correct</th>
										<th></th>

								</tr>
						</thead>
						<tbody>
						{% for answer in answers %}
						<tr id="answer-{{answer.id}}">
								<td class = "cut-text" title="{{answer.name}}">{{answer.name}}</td>
								{% if qtype != 'grammar'%}
									<td name = "{{answer.points}}"  class = "add">{{answer.points}}</td>
								{% endif%}
								{% if answer.correct %}
									<td><span class="label label-success">{{answer.correct}}</span></td>
								{% else %}
								<td><span class="label label-danger">{{answer.correct}}</span></td>
								{% endif %}

								<td class="text-right">
									{% if not quiz_is_active %}
									<a class="btn btn-info" id="mod_but" data = {{answer.id}} data-toggle="modal" href="{% url 'teachers:item_edit' answer.id %}" data-target="#modal" title="edit item" data-tooltip>Edit</a> 
									<a class="btn btn-danger" onClick="deleteAnswer({{answer.id}})">Delete</a>
									{% endif %}
								</td>
						</tr>   
						 {% empty %}
			          	<tr>
			            	<td class="bg-light text-center font-italic" colspan="5">You haven't created any answers yet.</td>
			          	</tr>
						{% endfor %}
								{% if qtype != 'grammar'%}
								<tr>
								<td class = "cut-text"><strong>TOTAL</strong></td>
								<td><strong class="total"></strong></td>
								<td></td>
								<td class="text-right">
									
								</td>
								{% endif %}
						</tr>      
						</tbody>
				</table>
				{% if qtype == 'grammar'%}
				<textarea id="possible-answer" cols="15" rows="4" class="form-control" step="0.1"></textarea>
				<br>
				<a id = "test-answer" class="btn btn-primary delete mb-3" role="button">Test</a>
				<br><br><br>

				<div id = "error_codes">
				</div>
				<div style="overflow-x:auto;">
					<table id = "grammar-result" class="table">
						<thead>
						  <tr>
							
						  </tr>
						</thead>
						<tbody>
						  <tr>
							

		
						  </tr>
						</tbody>
					</table>
				</div>

				<div id = "corrected_sent">

				</div>
				{% endif %}
		</div>
	</div>
</div>



{% block javascript %}
	<script type="text/javascript">
		if ($('#answer_form').attr('qtype') == 'grammar'){
			$('#id_points').closest('div').hide()
			$('#id_points').hide()
			$('#id_correct').closest('div').hide()
			$('#id_correct').hide()
		}
		$("#mod_but").click(function(){
			console.log($(this).attr('href'))
			$("#item_update_form").attr("action",$(this).attr('href'));

		});

		function total_points() {
     		var sum = 0;
			$('.add').each(function(){
				sum += parseFloat($(this).text()); 				   
			});
			$(".total").html(sum.toFixed(1));
		}

		total_points();
		$("#answers-form").submit(function (e) {
				// preventing from page reload and default actions
				e.preventDefault();
				// serialize the data for sending the form data.
				var serializedData = $(this).serialize();
				console.log(serializedData)
				// make POST ajax call
				$.ajax({
						type: 'POST',
						url: "{% url 'teachers:add_answer' question_id %}",
						data: serializedData,
						success: function (response) {
								// on successfull creating object
								$("#answers-form").trigger('reset');
								$("#id_nick_name").focus();

								var instance = JSON.parse(response["instance"]);
								var fields = instance[0]["fields"];
								$("#my_answers tbody").prepend(
										`<tr>
										<td>${fields["name"]||""}</td>
										<td>${fields["points"]||""}</td>
										<td>${fields["correct"]||""}</td>
										<td class="text-right"><a class="btn btn-warning" disabled>Delete</a><td>
										</tr>`
								)
								location.reload();
						}
				})
		})

		function deleteAnswer(id) {
			var action = confirm("Are you sure you want to delete this answer?");
			if (action != false) {
				$.ajax({
						url: '{% url "teachers:delete_answer" %}',
						data: {
								'id': id,
						},
						dataType: 'json',
						success: function (data) {
								if (data.deleted) {
									$("#my_answers #answer-" + id).remove();
									total_points();
									
								}
						}
				});
			}
		}

		$( "#test-answer" ).click(function() {
			var sent_to_check = $('#possible-answer').val()
			$.ajax({	
				
				url: '{% url "teachers:test_grammar" question_id %}',
				data: {
					'lang': 'aa',
					'sents': sent_to_check
				},
				dataType: 'json',
				success: function (data) {
					$('#grammar-result tbody td').remove()
					$('#grammar-result thead th').remove()
					main_header = $("#grammar-result thead tr")
					$('#error_codes h4').remove()
					$('#corrected_sent h4').remove()
					for (const [code, mistake] of Object.entries(data['error_codes'])) {
						$('#error_codes').append("<h4>" + code + " - " + mistake + "<h4>")
					}

					console.log(data['error_codes'])
					for (const [key, value] of Object.entries(data['error_result'])) {
						
						console.log(key)
						for (const [_, info] of Object.entries(value)) {
							if (info['word'] == "__sent__"){
								info['word'] = "END"
							}
							$("#grammar-result tbody tr").append("<td scope='col'>"+info['word']+"</td>")
							console.log(info, info['word']);
							console.log(info, info['error']);
							main_header.append("<th scope='col'>"+info['error']+"</th>")
						}
					}

					$('#corrected_sent').append("<h4> <b>Corrected sent:</b> " + data['corrected_sent']+ "<h4>")
				}
			});
		});


</script>
{% endblock javascript %}
{% endblock %}