{% extends 'base.html' %}

{% block body_block %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:course_list' %}">My Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{course.name}} </li>
    </ol>
  </nav>


  <a href="{% url 'teachers:quiz_list' course_id %}" class="btn btn-info">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
     Go back
  </a>
   <br>
   <br>
  <div class="card">
    <table class="table mb-0" id="my_quizzes">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Middle Name</th>
          <th>Last Name</th>
          <th>Cafedra</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr id="course-{{course.id}}">
              <td class="align-middle" title="{{ quiz.stud_fname }}">{{ quiz.stud_fname }}</td>
              <td class="align-middle"> {{ quiz.stud_surname }}</td>
              <td class="align-middle" title="{{ quiz.stud_lname }}">{{ quiz.stud_lname }}</td>
              <td class="align-middle" title="{{ quiz.stud_cefedra }}">{{ quiz.stud_cefedra }}</td>
              <td class="text-right">
                <a class="btn btn-info" href="{% url 'teachers:get_answers_for_check' quiz.quiz_id quiz.stud_id %}">Check</a>
              </td>

            
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">There are not any quzzes to be checked yet!</td>
          </tr>
        {% endfor %}
          <tr>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="align-middle"></td>
            <td class="text-right"></td>
          </tr>
      </tbody>
    </table>
  </div>
  {% block javascript %}
  <script type="text/javascript">

    function total_points() {
        var sum = 0;
      $('.add').each(function(){
        sum += parseFloat($(this).text());           
      });
      $(".total").html(sum);
    }
    total_points();

    function deleteQuiz(id) {
      var action = confirm("Are you sure you want to delete this quiz?");
      if (action != false) {
        $.ajax({
            url: '{% url "teachers:quiz_delete" %}',
            data: {
                'id': id,
            },
            dataType: 'json',
            success: function (data) {
              $("#my_quizzes #quiz-" + id).remove();
              total_points();
            }
        });
      }
    }

    function deactivateQuiz(id) {
      var action = confirm("Are you sure you want to deactivate this quiz?");
      if (action != false) {
        console.log('aa')
          $.ajax({
              url: '{% url "teachers:deactivate_quiz" %}',
              data: {
                  'id': id,
              },
              dataType: 'json',
              success: function (data) {
                location.reload()
              }
          });
      }
    }


</script>
{% endblock javascript %}
{% endblock %}
