{% extends 'base.html' %}

{% block body_block %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'teachers:course_list' %}">My Quiz</a></li>
			<!-- <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li> -->
			{% for q in quizzes %}
			<li class="breadcrumb-item"><a href="{% url 'teachers:quiz_list' course_id %}">{{q.course}}</a></li>
			<li class="breadcrumb-item active cut-text" aria-current="page">{{q.name}}</li>
			{% endfor %}
		</ol>
			<a href="{% url 'teachers:quiz_list' course_id %}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back</a>
		{% for q in quizzes %}
		<h3>Quiz points: {{q.max_points}}</h3>
		{% endfor %}
	</nav>
		<!-- Modal -->
		<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-lg">
					<div class="modal-content">

					</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


				<!-- Modal -->
		<div class="modal fade" id="modal-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog modal-lg">
					<div class="modal-content">

					</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	<a href="{% url 'teachers:question_add' quiz %}" class="btn btn-primary delete mb-3" role="button">Add Question</a>
	<div class="card">
		<table class="table mb-0">
			<thead>
				<tr>
					<th>Question</th>
					<th>Type</th>
					<th>Points</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for question in questions %}
					<tr>
						<td class="align-middle"><a id="mod_but" data = {{question.id}} data-toggle="modal" href = "{% url 'teachers:view_question' question.id %}" data-target="#modal-view" class = "cut-text" title="{{ question.name }}">{{ question.name }}</a></td>
						<td class="align-middle"><p >{{ question.qtype }}</p></td>
						<td class="align-middle add"><a ></a>{{ question.points }}</td>
						{% if question.done %}
						<td class="align-middle"><span class="label label-success">{{ question.done }}</span></td>
						{% else %}
						<td class="align-middle"><span class="label label-danger">{{ question.done }}</span></td>
						{% endif %}
						<td class="text-right">
							{% ifnotequal question.qtype 'open' %}
								<a href="{% url 'teachers:answers_lists_add' question.id %}" class="btn btn-primary">Answers</a>
							{% endifnotequal %}
							{% if quiz_is_active == False %}
								<a class="btn btn-info" id="mod_but" data = {{question.id}} data-toggle="modal" href="{% url 'teachers:update_question' question.id %}" data-target="#modal" title="edit item" data-tooltip>Update</a> 
								 <a class="btn btn-danger" onClick="deleteQuestion({{question.id}})">Delete</a>
							{% endif %}
						</td>
					</tr>
				{% empty %}
					<tr>
						<td class="bg-light text-center font-italic" colspan="5">You haven't created any questions yet.</td>
					</tr>
				{% endfor %}
					<tr>
						<td class="align-middle"><strong>TOTAL</strong></td>
						<td class="align-middle"><p ></p></td>
						<td class="align-middle"><strong class="total"></strong></td>
						<td class="text-right"></td>
					</tr>
			</tbody>
		</table>
	</div>

	
	{% block javascript %}
	<script type="text/javascript">
		function deleteQuestion(id) {
			var action = confirm("Are you sure you want to delete this question?");
			if (action != false) {
				$.ajax({
						url: '{% url "teachers:delete_question" %}',
						data: {
								'id': id,
						},
						dataType: 'json',
						success: function (data) {
							location.reload()
						}
				});
			}
		}

		function total_points() {
     		var sum = 0;
			$('.add').each(function(){
				sum += parseFloat($(this).text()); 				   
			});
			$(".total").html(sum);
		}
		total_points();
</script>
{% endblock javascript %}
{% endblock %}
