{% extends 'base.html' %}

{% block body_block %}
  <head>

	{% load static %}

	<script src="{% static 'js/block_buttons.js' %}"></script>
	<script src="{% static 'js/solve_quiz.js' %}"></script>  

  </head>
 <body oncontextmenu="return false;">
  <nav aria-label="breadcrumb">
	<ol class="breadcrumb">
	  <li class="breadcrumb-item active" aria-current="page">My Courses </li>
	</ol>
  </nav>
	  <!-- Modal -->
	<a href="{% url 'teachers:quiz_list' course_id %}" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Go back</a>
  <h2 class="mb-3 check">{{quiz_name}}</h2> <br>
  <div class="card">
		<form method="post">{% csrf_token %}
			<ol>
			  {% for question_id, qinfo in tests.items %}
				
				  <li style="font-size:19px"> <h3> {{qinfo.qname}} </h3> </li>
				  {% if qinfo.description %}
				  <h4><b>Instruction: </b> {{qinfo.description}} </h4>
				  {% endif %}
				  <h4> {{qinfo.points}} points</h4>
				 
			   
					<div id="{{question_id}}"> 
						<ul class="list-group">
						   {% for id_ans, answer in qinfo.answers.items %}
							
								{% if qinfo.qtype == 'multiple'%}
									{% if answer.correct == True%}
										<li class="list-group-item" style="background-color: #99ff99"><input type="checkbox" class="answer" name="{{question_id}}" value="{{id_ans}}"> {{answer.answer}}  -  <strong>{{answer.points}} points</strong></li>
									{% else %}
										<li class="list-group-item"><input type="checkbox" class="answer" name="{{question_id}}" value="{{id_ans}}"> {{answer.answer}}  -  <strong>{{answer.points}} points</strong></li>
									{% endif %}	
								{% endif %}

								{% if qinfo.qtype == 'single' %}
									{% if answer.correct == True%}
										<li class="list-group-item" style="background-color: #99ff99"><input type="radio" class="answer" name="{{question_id}}" value="{{id_ans}}"> {{answer.answer}}  -  <strong>{{answer.points}} points</strong></li>
									{%else%}
										<li class="list-group-item"><input type="radio" class="answer" name="{{question_id}}" value="{{id_ans}}"> {{answer.answer}}  -  <strong>{{answer.points}} points</strong></li>
									{%endif%} 
								{%endif%} 

								{% if qinfo.qtype == 'compare' %}
									<li class="list-group-item" > {{answer.answer}}  -  <strong>{{answer.points}} points</strong></li>
								{%endif%} 
								  
							{% endfor %}
						</ul> 
						{% if qinfo.qtype == 'open'%}
							<div class="form-group">
								<label for="exampleFormControlTextarea1">Write your answer here</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" name="{{question_id}}" rows="3"></textarea>
							</div>
						{%endif%}
						<br>
					</div>
					
			  {% endfor %}
			  <br><br>
			  </ol>

		</form>
  </div>

{% endblock %}
