        <form id="item_update_form" method='post' class="form" role="form" action="{% url 'teachers:update_in_code' id %}">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update</h4>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.errors %}
                                <ul class="form-errors">
                                {% for error in field.errors %}
                                    <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ field.label_tag }} {{ field }} 
                            {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
                        </div>

                    {% endfor %}
              <button id = "new_code" class="btn btn-primary" type="button" id="button-addon2">Generate new code</button>
              </div>

              <div class="modal-footer">
                <h4 style="text-align:center;">Points avaliable {{free_points}} <br/> Sum of all question's points in the quiz: {{sum_questions_points}} </h4>
                <input type="button" id="annulla" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                <input type="submit" class="btn btn-primary" value="Save" style="margin-bottom: 5px;" />
              </div>
              </div>
        </form>
        <script>
                var form_options = {
                    target: '#modal',
                    success: function() {  }
                }
                $('#item_update_form').ajaxForm(form_options);
                $("#annulla").click(function(){
                    $('body').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                    });
                });

                function makeid(length) {
                   var result           = '';
                   var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
                   var charactersLength = characters.length;
                   for ( var i = 0; i < length; i++ ) {
                      result += characters.charAt(Math.floor(Math.random() * charactersLength));
                   }
                   return result;
                }

                $( "#new_code" ).click(function() {
                    $("#id_in_code").val(makeid(6))
                });

        </script>

