

        <form id="item_update_form" method='post' class="form" role="form" action="{% url 'teachers:update_question' id %}">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update</h4>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.errors %}
                                <ul class="form-errors">
                                {% for error in field.errors %}
                                    <li><span class="fa fa-exclamation-triangle"></span> <strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            {{ field.label_tag }} {{ field }} 
                            {% if field.help_text %}<div class="form-helptext">{{ field.help_text }}</div>{% endif %}
                        </div>
                    {% endfor %}
                    {% if qtype == 'grammar'%}
                    <div id = "grammar-options">
                    <div class="form-group">
                    <select name = "lang" class="form-control" id="id_lang">\
                        {% for lang, selected in languages.items%}
                            {% if selected == True %}
                                <option selected>{{lang}} </option>
                            {% else %}
                                <option>{{lang}} </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </div>
					{% for points in mistake_points%}
						<div class="form-group">
						<label>Spelling points</label>
						<input class="form-control" value="{{ points.spelling_points}}" type="number" name="spelling_points" value="5.0" step="0.1" id="id_spelling_points">
                        </div>  
                        <div class="form-group">
						<label>Grammar points</label>
						<input class="form-control" value="{{ points.grammar_points}}" type="number" name="grammar_points" value="5.0" step="0.1" id="id_grammar_points">
                        </div> 
                        <div class="form-group">
						<label>Translate points</label>
						<input class="form-control" value="{{ points.translate_points}}" type="number" name="translate_points" value="5.0" step="0.1" id="id_translate_points">
                        </div> 
                        <div class="form-group">
						<label>Order points</label>
						<input class="form-control" value="{{ points.order_points}}" type="number" name="order_points" value="5.0" step="0.1" id="id_order_points">
                        </div>  
                        <div class="form-group">
						<label>Not in the ethalon points</label>
						<input class="form-control" value="{{ points.ethalon_points}}" type="number" name="ethalon_points" value="5.0" step="0.1" id="id_ethalon_points">
						</div>   
					{% endfor %} 
                    </div>
                    {% endif %}
              </div>
              <div class="modal-footer">
                <h4 id = "explain_points" style="text-align:center;"></h4>
                  <h4 style="text-align:center;">Sum of answer's points: {{sum_answers}}</h4>
                <input type="button" id="annulla" class="btn btn-default" data-dismiss="modal" value="Cancel" />
                <input type="submit" class="btn btn-primary" value="Save" style="margin-bottom: 5px;" />
              </div>
              </div>
        </form>
        <script>

                var form_options = {
                    target: '#modal',
                    success: function() {  }
                }
                $('#item_update_form').ajaxForm(form_options);
                $("#annulla").click(function(){
                    $('body').on('hidden.bs.modal', '.modal', function () {
                        $(this).removeData('bs.modal');
                    });
                });

                var conceptName = $('#id_qtype').find(":selected").text();
                if (conceptName != 'grammar'){
                    $("#id_qtype option[value=grammar]").remove()
                }

                $('#id_qtype').on('change', function() {
                    var new_change = $('#id_qtype').find(":selected").text()
                    if (new_change != 'grammar'){
                        $('#grammar-options').hide()
                    }
                    else{
                        $('#grammar-options').show()
                    }
                });
                
                  
                var question_points = parseFloat($('#quiz_points').attr('name'))
                var total_question_points = parseFloat($(".total").text())
                var cur_points = parseFloat($('#id_points').attr('value'))
                var aval_points = question_points - total_question_points + cur_points
                $('#explain_points').text('Points avaliable for the question: ' + aval_points.toFixed(1))
        </script>

