{% extends 'base.html' %}

{% block body_block %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:course_list' %}">My Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
    </ol>
  </nav>
  <a href="{% url 'teachers:quiz_add' course.id %}" class="btn btn-primary delete mb-3" role="button">Add Quiz</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Course</th>
          <th>Owner</th>
          <th>Participants</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle"><a >{{ quiz.name }}</a></td>
			<td class="align-middle"><a >{{ quiz.course }}</a></td>
			<td class="align-middle"><a ></a></td>
            <td class="text-right">
              <a href="{% url 'teachers:questions_list' quiz.id %}" class="btn btn-primary">Questions</a>
              <a  class="btn btn-danger">Delete</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quizzes yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
